# Ignore .idea files
.idea/
tests/Report.html
/tests/.pytest_cache/
/tests/api/Report.html
/tests/api/assets/style.css
/venv/
/tests/ui/geckodriver*
/tests/ui/*screenshot*
/tests/ui/*.html
/tests/ui/*.xml
/tests/ui/assets/style.css
/tests/log.html
/tests/output.xml
/assets/style.css
/tests/assets/style.css
